@import "variables";

.formularioConsulta {
    padding: 2rem;
    background-color: $colorBG;
    font-family: $letra; 
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
    

  }


