
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to left, lightgray, $colorNAV);
}

.banner p{
    font-weight: bold;
}

.banner__marca{
    font-size: x-large;
}


.navegacion__icono{
    width: 60px;
    height: 60px;   
}

a{
    color: $colorBG;
}

.barraNavegacion{
    display:flex;
    flex-direction: column;
    align-items: center;
    //@debug: linear-gradient(to left, lightgray, $colorNAV);
    //padding: 1rem;
    //margin: 1rem;
}

@media(min-width:768px){
    .barraNavegacion{
    flex-direction: row;
    justify-content: space-evenly;
    }
}
